.flavor-home-flow.articles {
    --article-columns: 1fr;

    .module-bookstore {
        @media (min-width: 600px) {
            grid-column: 1 / -1;
            grid-row: 3;
        }
        @media (min-width: 768px) {
            grid-column: 1/-1;
            grid-row: 3 / span 2;
        }
        @media (min-width: 1035px) {
            grid-column: 2;
            grid-row: 3 / span 3;
        }
    }

    @media screen and (min-width: 600px) {
        --article-columns: repeat(2, 1fr);
        grid-gap: clamp(1rem, 3vw, 2rem);
    }

    grid-area: grid;
    grid-template-columns: var(--article-columns);

    .widget-title {
        display: none;
    }

    article {
        --height: 100%;
    }

    //.title {
    //    font-size: 1rem;
    //}
    //
    //.author {
    //    font-size: 0.8rem;
    //}
    //
    //.flags {
    //    font-size: clamp(0.7rem, 0.9vw, 0.6rem);
    //}
}
