@import "../../scss/mixins/themes";

.google-ratings {
  @include themes;

  background-color: $white;
  padding-block-start: clamp(rem(36), 4vw, rem(54));
  font-family: $header-font;

  & > .inner {
    display: grid;
    place-content: center;
    text-align: center;
  }

  .section-heading {
    color: $accent;
  }

  .rating-stars {
    font-size: clamp(rem(54), 6vw, rem(96));
    font-weight: 700;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: rem(40);
    //line-height: clamp(0px, 7vw, rem(115));
    // letter spacing is 10% of font size
    letter-spacing: rem(5.4);
    padding-block-start: rem(20);

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    img {
      width: clamp(rem(35), 4vw, rem(45));
    }
  }

  .reviews {
    font-size: rem(22);
    // letter spacing is 10% of font size
    letter-spacing: rem(2.2);
    text-transform: uppercase;
    margin-block-start: clamp(rem(20), 3vw, rem(30));
    color: $black;
    font-weight: 700;
  }

  .google-logo {
    margin-block-start: clamp(rem(20), 3vw, rem(30));
    width: rem(150);
    justify-self: center;
  }
}
