@mixin accordion($arrow-color: var(--white)) {
  .toggle-section {
    display: none;
  }

  .toggle-label {
    outline: none;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1rem;
    column-gap: 0.6rem;
    cursor: pointer;
    user-select: none;

    .drop-icon {
      display: grid;
      place-content: center;
      pointer-events: none;
      margin-block-start: 3px;

      &:after {
        content: " ";
        width: 0;
        height: 0;
        transform: rotate(-180deg);
        display: inline-block;
        transition: all var(--transition);
        border-style: inset;
        border-width: 0 5px 10px 5px;

        // Target Safari because the border-color renders
        // much lighter, then we override it for other browsers
        // because Safari doesn't support the -webkit- prefix
        border-color: transparent transparent $arrow-color transparent;
        // Use the appearance property to target all browsers except Safari
        appearance: none;
        @media not all and (min-resolution: .001dpcm) {
          @supports (-webkit-appearance:none) {
            border-color: transparent transparent $arrow-color transparent;
            // Use the -webkit-appearance property to override the appearance property for Safari
            -webkit-appearance: none;
          }
        }
      }
    }
  }

  & > .toggle {
    display: none;

    &:checked {
      & ~ .toggle-section {
        display: block;
        position: absolute;
        top: calc(100% - 1rem);
        right: 0;
        transform: translateY(1rem);
        z-index: 1;
      }

      & ~ .toggle-label {
        .drop-icon {
          &:after {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
