@mixin accordion {
  position: relative;

  .accordion-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1rem;
    column-gap: 1rem;
    cursor: pointer;

    @media screen and (max-width: 1029px) {
      & > * {
        padding: 0;
      }
    }

    @media screen and (min-width: 1030px) {
      pointer-events: none;
      cursor: default;
    }

    .drop-icon {
      display: grid;
      place-content: center;
      pointer-events: none;

      &:after {
        content: " ";
        width: 0;
        height: 0;
        transform: rotate(-180deg);
        display: inline-block;
        transition: all var(--transition);
        border-style: inset;
        border-width: 0 7.5px 15px 7.5px;

        // Target Safari because the border-color renders
        // much lighter, then we override it for other browsers
        // because Safari doesn't support the -webkit- prefix
        border-color: transparent transparent $primary-dark transparent;
        // Use the appearance property to target all browsers except Safari
        appearance: none;
        @media not all and (min-resolution: .001dpcm) {
          @supports (-webkit-appearance:none) {
            border-color: transparent transparent $black transparent;
            // Use the -webkit-appearance property to override the appearance property for Safari
            -webkit-appearance: none;
          }
        }
      }

      @media screen and (min-width: 1030px) {
        display: none;
      }
    }
  }

  .accordion-content {
    overflow: hidden;
    transition: all var(--transition);
    max-height: 0;
    margin-block-start: 0;
    padding-inline-end: 1rem;

    @media screen and (min-width: 1030px) {
      max-height: 3000px;
    }
  }

  input.accordion-toggle:checked {
    & ~ .accordion-header {
      .drop-icon {
        &:after {
          transform: rotate(0deg);
        }
      }
    }

    & ~ .accordion-content {
      max-height: 3000px;
      margin-block-start: rem(30);
    }
  }

}
