@import 'themes';

@mixin button {
  // Overrides for module background colors
  // are in the mixins/themes.scss file
  @include themes;

  background-color: $accent;
  color: $white;
  font-family: $header-font;
  font-size: rem(16);
  font-weight: 700;
  display: block;
  @media screen and (min-width: 1030px) {
    display: inline-block;
  }
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  margin-block-start: clamp(rem(30), 4vw, rem(64));
  padding: rem(16) rem(60);
  border: 0;
  border-radius: rem(90);
  text-decoration: none;
  //text-transform: uppercase;
  line-height: 70%;
  transition: background-color var(--transition), color var(--transition);

  &:hover {
    background-color: $black;
    color: $white;
  }
}
