@mixin toc {
  padding-block-end: 0;

  .toc-container {
    padding: clamp(rem(20), 4vw, rem(30)) rem(30);
    margin-block-end: clamp(rem(36), 4vw, rem(54));
    background-color: $white;

    @include accordion;

    @media screen and (min-width: 1030px) {
      //max-width: var(--max-width-content);
      max-width: fit-content;
    }

    .accordion-header h4 {
      color: $black;
      font-family: $header-font;
      text-transform: uppercase;
      font-size: rem(20);
      line-height: rem(22);
      font-weight: 700;
      padding-block-end: 0;

      @media screen and (min-width: 1030px) {
        margin-block-end: rem(30);
      }
    }

    .accordion-content {
      //column-count: 1;
      list-style: none;
      padding: 0;
      margin: 0;

      //@media screen and (min-width: 1030px) {
      //  max-height: 300px;
      //  column-count: auto !important;
      //  column-fill: auto;
      //  column-width: 350px;
      //  column-gap: 2rem;
      //}

      & > * {
        font-size: rem(16);
        line-height: rem(22);
        padding-block-end: rem(10);
      }

    }
  }
}
