
body.issue-landing #issue-display-trigger { display: none; }


////////////////////////////
body.magazine.issue-landing {
////////////////////////////

.figure { background-image: none; }
figure.issue.thumb { margin: 0 auto; }

div.content-wrapper {
	max-width: $width-maxnav;
	@include block-center;
}

.main-content { 
	text-align: center; 
	padding-top: $spacer * 2;
}

h1.section-title { margin-top: $spacer; }

h2.post-category { 
	@extend %module-category; 
	margin-bottom: $grid;
	margin-top: $spacer * 2;
	color: $color-red;
	border-color: $color-red;
	float: none;
}

article.post { 
	padding: $spacer; 
	@include fullbleed-mobile;
	float: none;
	border: medium none; // ? rus 3-16
}

article + article { border-top: 1px solid $color-trans-palegray; }

article.post h1,
article.post h2,
article.post p,
 { text-align: center; }



article.post p.post-author { font-size: $size-xbody; }

article.post h1 { font-size: $size-large; }

article.post h1 a:hover { color: $color-red; }


article.post .post-summary {
	font-size: $size-xbody;
	color: $color-black;
	line-height: 1.4;
	padding-bottom: 0;
	padding-top: $spacer;
}

p a:hover { border-bottom: 1px solid $color-red; }

ul.post-meta-tags-list { 
	padding-top: 0;
	position: relative;
	right: inherit;
	text-align: center;
	top: inherit;
	width: auto;
}

li.post-meta-tags-item {
	display: inline-block;
}


section.subscribe,
section.newsletter,
section.social {
	width: auto;
}

div.subscribe.category,
h3.subscribe.issuetitle {
	display: none;
}

.subscribe div.wrapper { text-align: center; }

section.supp {
	border-top: 72px solid $color-trans-whispergray;
	margin-top: $spacer * 2;
}

.supp-more-by-title { @extend %section-hed; }

#supplementary { padding: $spacer * 3 $spacer 0; }

p.subhed { @extend %section-dek; }

section.articles { 
	margin-top: $spacer * 2; 
	padding: 0;
}

h3.supplementary.more.title {
	border-bottom: 4px solid $color-black;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 600;
	padding-bottom: 0.3em;
	.section-hed {
		border-bottom: none;
		font-size: 1.1rem;
		padding-bottom: 0px;
	}
}

p.online-only-archive.dek { font-size: 1.1rem; }

section.articles p.module.article.tweetquote{
	font-size: 22px;
	padding-right: 0;
	//text-indent: -0.3em;
}

////////////////////////////	
} //.magazine.issue-landing


.issue-gallery-callout {
	display: none !important;
	border-radius: $grid;
	height: 350px;
    background-size: cover;
    padding: 0;
    margin: $grid * 5 0;
    text-align: center;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
	overflow: hidden;
    border:	4px solid transparent;
    &:hover {
	    border-color: #f6f2eb;
	    a.button {
		    color: $color-white;
		    background-color: $color-black;
	    }
    }
	.button {
		color: $color-black;
		padding: $spacer;
		border-radius: 0;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    border-top: 4px solid $color-background;
	    background-color: #f6f2eb;
	}
	@include respond-tabletplus {
		height: 400px;
	}
}

body.admin-bar .issue-gallery-callout {
	display: block !important;
}

html.gallery-active {
	padding-top: 0;
	margin-top: 0 !important;
	height: 100%;
	#header-main, footer {
		display: none;
	}
	body {
		height: 100%;
	}
	#issue-gallery-container {
		display: table;
		height: 100%;
		.content-wrapper {
			display: table-cell;
			vertical-align: middle;
			position: static;
		}
		.main-content {
			margin: $spacer auto;
			position: static;
			padding: 0;
		}
	}
	#issue-gallery-prev, #issue-gallery-next {
		position: fixed;
		width: 50%;
		height: 40px;
		background-color: transparent;
		top: 0;
		text-align: center;
		display: table !important;
		font-weight: 600;
		border: none;
		border-bottom: 1px solid $color-trans-darkgray;
		img {
			display: none;
		}
		&:before {
			color: white;
			display: table-cell;
		    vertical-align: middle;
		}
		&:hover {
			border-color: $color-trans-darkgray !important;
			background-color: $color-trans-darkgray; 
			&:before {
				color: $color-blue;
			}
		}
	}
	#issue-gallery-prev {
		left: 0;
		&:before {
			content: 'Previous';
		}
	}
	#issue-gallery-next {
		right: 0;
		border-left: 1px solid $color-trans-darkgray;
		&:before {
			content: 'Next';
		}
	}
	@include respond-tabletplus {
		#issue-gallery-prev, #issue-gallery-next {
			position: absolute;
			width: auto;
			height: 500px;
			top: auto;
			left: auto;
			right: auto;
			display: block !important;
			border: none;
			background-position: center center;
			background-size: 60px 60px;
			background-repeat: no-repeat;
			width: 50px;
			&:hover {
				border-color: transparent !important;
				background-color: transparent; 
			}
			&:before {
				display: none;
			}
		}
		#issue-gallery-prev {
			background-image: url('https://nplusonemag.com/wp-content/themes/n1_durable_goods/img/l-white.png');
			left: 16px;
			&:hover {
				background-image: url('https://nplusonemag.com/wp-content/themes/n1_durable_goods/img/l-red.png');
			}
		}
		#issue-gallery-next {
			right: 16px;
			background-image: url('https://nplusonemag.com/wp-content/themes/n1_durable_goods/img/r-white.png');
			&:hover {
				background-image: url('https://nplusonemag.com/wp-content/themes/n1_durable_goods/img/r-red.png');
			}
		}
	}
	.issue-gallery-close {
		position: fixed;
		display: block;
	    top: 50px;
	    right: 16px;
	    width: 40px;
	    height: 40px;
	    background-image: url('img/ui-close-white.png');
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 40px 40px;
	    text-indent: -10000px;
	    overflow: hidden;
	    &:hover {
		    background-image: url('img/ui-close-red.png');
	    }
	}
}


body.issue-landing div.caroufredsel_wrapper { 
	height: auto !important; 
	.cf { position: relative !important;}
	@include respond-tabletplus {
		position: absolute;
		padding: 0 82px;
	}
}

footer ~ div[id*='mm'] { display: none; }