@import "../../scss/mixins/themes";

.page-w-image {
  @include themes;

  padding-block: 0 !important;
  margin-block-end: clamp(rem(36), 4vw, rem(54));

  .inner {
    max-width: 1920px;
  }

  .frame {

    .wysiwyg {
      padding-block: clamp(rem(36), 4vw, rem(90));
    }

    .image {
      display: none;
      height: 100%;
      width: 100%;

      @media screen and (min-width: 1030px) {
        display: block;
      }
    }
  }
}
