/******************************************************************
Site Name:
Author:

Stylesheet: Admin Stylesheet

If you like living on the edge, you can add some styles here to
customize the dashboard and WordPress admin area. This stylesheet
is empty, but you can just start dropping your styles here to
start customizing. All admin functions are located in admin.php.

******************************************************************/
.mce-menu-item.mce-menu-item-preview.mce-active .mce-text,
.mce-menu-item.mce-menu-item-preview.mce-active .mce-icon {
  color: #ffffff !important;
}

.acf-fc-layout-handle {
  display: grid !important;
  grid-template-columns: 30px 1fr 5fr 1fr;
  align-items: center;
}

.acf-icon.-clear {
  background: #F5F5F5 !important;
}

.acf-layout-title,
.acf-layout-type {
  font-size: .8rem;
  margin-inline-end: 1rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  box-shadow: 0 0 10px rgb(0 0 0 / 7%);
}

.acf-layout-title {
  background: #fff;
  color: #1d2327 !important;
}

.acf-layout-type {
  font-size: .8rem;
  font-style: italic;
  color: #fff !important;
}

.post-type-acf-field-group #acf-field-group-fields .acf-field-object-tab,
.post-type-acf-field-group #acf-field-group-fields .acf-field-object-accordion {
  //background-color: #d3d3d3 !important;
  background-color: #e7eff9 !important;
}
