@import "../../scss/mixins/themes";

.page {
  @include themes;

  //&:last-child,
  & > .layout:last-child:not(.has-background) {
    padding-block-end: 0;
  }

  &.hide-page-title {
    // screen reader only
    & > .inner {
      position: absolute;
      left: -9999px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}
