/* expand the excerpt height */
#excerpt {
  height: 10em;
  line-height: inherit;
}
/* for some reason, adding this admin stylesheet messes up this style */
.curtime #timestamp {
  background-image: none;
}
.widefat.narrow {
  margin-bottom: 0;
  width: 45%;
}
#wp-admin-bar-new-post {
	display: none;
}
#mce-modal-block, #mce-modal-block.mce-fade {
  display: none !important;
}