@import "src/scss/fonts";

$header-font: "Barlow", sans-serif;
$body-font: "Roboto Serif", sans-serif;

@mixin header {
  font-family: $header-font;
  font-weight: 700;
  color: $black;
  text-transform: capitalize;
  text-align: left;
  letter-spacing: normal;
  font-size: clamp(3.4rem, 4vw, 6.4rem);
  // line height is 1.2 of font size
  line-height: clamp(4.08rem, 4.8vw, 7.68rem);
  margin-block: 0;
  // padding-block-end is .5 of font size
  padding-block-end: clamp(1.7rem, 4vw, 3.2rem);

  &:first-child {
    //padding-block-start: 0;
    max-width: var(--max-width-content);
  }
}

@mixin no-padding-between-headers {
  // Target all headers which are immediate siblings of any other header
  h1 + &,
  .header-hero + &,
  h2 + &,
  .header-lg + &,
  h3 + &,
  .header-sm + &,
  h4 + &,
  .body-lg + &,
  h5 + &,
  .body-sm + &,
  h6 + & {
    padding-block-start: 0 !important;
  }
}

h1,
.header-hero,
h2,
.header-lg,
h3,
.header-sm,
h4,
.body-lg,
h5,
.body-sm,
h6 {
  position: relative;
  text-rendering: optimizelegibility;
  color: inherit;

  @include no-padding-between-headers;
}

#wrap {
  font-size: 1.6rem;
  font-family: $body-font;
  color: $black;
}

.layout {
  p,
  .wysiwyg p {
    font-family: $body-font;
    font-weight: 500;
    font-size: clamp(1.3rem, 2vw, 1.6rem);
    line-height: clamp(2.08rem, 2vw, 2.72rem);
    margin-block: 0;
    // padding-block-end is .5 of font size
    padding-block-end: clamp(0.65rem, 2vw, 0.8rem);

    &:last-child {
      padding-block-end: 0;
    }
  }

  a:not([class]) {
    //color: $light-blue;
    text-decoration: underline;

    &:hover {
      //color: $bright-blue;
    }
  }

  ul,
  ol {
    margin: 0;

    &.override {
      padding-inline-start: 4rem;
      padding-block-end: 2rem;
    }

    &:not(.override),
    .wysiwyg &:not(.override) {
      list-style: none;
      padding: 1rem 0 2rem;

      &:not(.one-col) {
        @media screen and (min-width: 500px) {
          column-count: 2;
          column-gap: 4rem;
          li {
            display: grid;
          }
        }
      }
    }

    &:last-child,
    li:last-child {
      padding-block-end: 0 !important;
    }

    li > ul,
    li > ol {
      margin-block-start: 0.8rem;
    }
  }

  ol > li,
  ul > li,
  p > li {
    margin-block: 0;
    padding-block-end: 0.8rem;
    line-height: 2rem;

    & *:not(a, li) {
      line-height: 3rem;
    }
  }

  blockquote {
    margin-block: 0;
    padding-block-end: 1.5rem;
    padding: 1.25rem 0; //
  }

  h1,
  .header-hero {
    @include header;
  }

  h2,
  .header-lg {
    @include header;
    font-size: clamp(2.4rem, 3vw, 4.8rem);
    // line height is 1.2 of font size
    line-height: clamp(2.88rem, 3vw, 5.76rem);
    // padding-block-end is 1.875 of font size
    padding-block-end: clamp(4.56rem, 3vw, 9.12rem);
  }

  h3,
  .header-sm {
    @include header;
    font-weight: 700;
    font-size: clamp(2.1rem, 3vw, 4.2rem);
    // line height is 1.2 of font size
    line-height: clamp(2.52rem, 3vw, 5.04rem);
    // letter spacing is 10% of font size
    // letter-spacing: clamp(0.22rem, 3vw, 0.32rem);
    margin-block: 0;
    // padding-block-end is 1.875 of font size
    padding-block-end: clamp(3.94rem, 3vw, 7.88rem);

    &:first-child {
      padding-block-start: 0;
    }
  }

  h4,
  .body-lg {
    @include header;
    // font-weight: 400;
    font-size: clamp(1.5rem, 3vw, 3rem);
    // line height is 1.04 of font size
    line-height: clamp(1.56rem, 3vw, 3.12rem);
    margin-block: 0;
    // padding-block-end is .5 of font size
    padding-block-end: clamp(1.05rem, 3vw, 2.1rem);
    text-transform: none;
    letter-spacing: normal;

    &:first-child {
      padding-block-start: 0;
    }

    &.bold,
    strong {
      font-weight: 700;
    }
  }

  h5,
  .body-sm {
    @include header;
    font-weight: 500;
    // subtract 2 from font-size
    font-size: clamp(1.8rem, 4vw, 2.2rem);
    // line height is 1.4 of font size
    line-height: clamp(2.52rem, 4vw, 3.08rem);
    margin-block: 0;
    // padding-block-end is .5 of font size
    padding-block-end: clamp(1.26rem, 4vw, 1.54rem);

    &:first-child {
      padding-block-start: 0;
    }

    &.bold,
    strong {
      font-weight: 700;
    }
  }

  .text-center {
    text-align: center !important;
  }

  .text-left {
    text-align: left !important;
  }

  .text-right {
    text-align: right !important;
  }
}
