#menu-nav-sections {
    --font-size: clamp(.75rem, 3.5vw, 1rem);
    --grid-template-columns: minmax(65px, 1fr) 1fr 1fr;
    --grid-template-rows: auto auto auto;
    --row-gap: .5rem;
    --column-gap: 2rem;
    --nav-justify: start;

    @media screen and (min-width: 900px) {
        --font-size: clamp(.75rem, 3.5vw, .9rem);
        --grid-template-columns: repeat(3, 1fr);
        --grid-template-rows: repeat(2, 1fr);
        --row-gap: .5rem;
        --column-gap: 3rem;

        display: grid;
        grid-auto-flow: column;
        grid-template-columns: var(--grid-template-columns);
        grid-template-rows: var(--grid-template-rows);
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
        align-items: center;
        //height: 70%;
    }

    @media screen and (min-width: 1100px) {
        --font-size: clamp(.7rem, 1.5vw, 1rem);
        --grid-template-columns: auto;
        --grid-template-rows: 1fr;
        --row-gap: clamp(1rem, 2vw, 2rem);
        --column-gap: .0;
        --nav-justify: space-between;
    }

    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        color: var(--white);
        font-size: var(--font-size);
        font-weight: 600;
        padding: .5rem 1rem;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;

        &:hover {
            color: var(--orange);
        }
    }

    .subscribe a {
        color: var(--orange);

        &:hover {
            color: var(--light-blue);
        }
    }

    .current-menu-item a,
    .current-ancestor a {
        background-color: var(--orange);
        color: var(--white);
    }

    .menu-item {
        text-wrap: nowrap;
        height: 100%;
        max-height: 45px;
    }
}
