#menu-nav-sections {
    --font-size: clamp(.75rem, 3.5vw, 1rem);
    --grid-template-columns: minmax(65px, 1fr) 1.5fr 1.5fr;
    --grid-template-rows: auto auto auto;
    --gap: .5rem;
    --nav-justify: start;
    --home-grid-row: 1 / span 3;
    --home-margin-end: 0;
    --home-width: clamp(60px, 28vw, 140px);

    @media screen and (min-width: 600px) {
        --font-size: clamp(.75rem, 3.5vw, 1rem);
        --grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr;
        --grid-template-rows: repeat(2, 1fr);
        --home-grid-row: 1 / span 2;
        --home-width: 130px;
        --gap: 1rem;
    }
    @media screen and (min-width: 900px) {
        --font-size: clamp(.7rem, 1.5vw, 1rem);
        --grid-template-columns: auto;
        --grid-template-rows: 1fr;
        --gap: clamp(1rem, 2vw, 2rem);
        --nav-justify: space-between;
        --home-grid-row: 1 / span 1;
        --home-margin-end: 1rem;
        --home-width: clamp(65px, 10vw, 165px);
    }

    grid-area: nav;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    column-gap: var(--gap);
    row-gap: var(--gap);
    align-items: center;
    height: 100%;

    a {
        color: var(--white);
        font-size: var(--font-size);
        //padding-inline: 1rem;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;

        &:hover {
            color: var(--orange);
        }
    }

    .subscribe a {
        color: var(--orange);
    }

    .current-menu-item a,
    .current-ancestor a {
        background-color: var(--orange);
        color: var(--white);
    }

    .menu-item {
        text-wrap: nowrap;
        height: 100%;

        &-home {
            grid-row: var(--home-grid-row);
            height: 100%;
            width: var(--home-width);
            background-color: #242424;
            background-image: url(../images/logo-trans-750-white.png);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            margin-inline-end: var(--home-margin-end);
            text-indent: -10000px;
            overflow-x: hidden;

            .height-at-minimum & {
                height: 80%;
            }

            a {
                background-color: transparent;
                color: transparent;
            }
        }
    }
}
