body.home {
    .content {
        --content-columns: 1fr;
        --content-rows: auto;
        --content-template-areas: "toc" "featured" "flow";

        @media screen and (min-width: 768px) {
            --content-columns: 4fr 8fr;
            --content-rows: auto 1fr;
            --content-template-areas: "toc featured" "toc flow";
        }

        padding-inline: var(--inner-padding);
        padding-block-end: 4rem;
        margin-inline: auto;
        display: grid;
        row-gap: clamp(1rem, 3vw, 2rem);
        column-gap: clamp(1rem, 3vw, 2rem);
        grid-template-columns: var(--content-columns);
        grid-template-rows: var(--content-rows);
        grid-template-areas: var(--content-template-areas);
    }

    .toc {
        grid-area: toc;
        //background-color: var(--light-grey);

        .module-issue-toc:first-child {
            background-color: var(--light-grey);
            padding-inline: 2rem;
            padding-block-end: 2rem;

            .widget-title {
                color: var(--orange);
                margin-block-end: 1.6rem;
                font-size: clamp(1.5rem, 1.5vw, 2rem);
            }

            .articles {
                grid-template-columns: 1fr;
            }

            article {
                --color: var(--white);
                border-top: 1px solid var(--inactive-dark);

                &:hover {
                    --color: inherit;
                }

                .post-title {
                    color: var(--color);
                }
            }

            .post-author {
                color: var(--inactive-light);
            }

            .flags {
                display: none;
            }

            .module-multi {
                article {
                    border-top: none;
                }
            }
        }
    }

    .featured {
        grid-area: featured;
        //@extend .flavor-home-hero;
    }

    .flow {
        grid-area: flow;
        //@extend .flavor-home-flow;
    }

    .home-nurble-end {
        background-color: var(--tan);

        .nurble {
            margin-block: 0;
            padding-block: 1rem;
        }
    }

    //.supp-end {
    //    padding-block-end: 10rem;
    //}
}
