body.magazine.issue-landing {
    .hero {
        width: 100%;
        text-align: center;
        position: relative;
        display: grid;
        place-content: center;
        margin-block-start: -3rem;

        figure {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
        }

        .hero-cell {
            margin: 4rem 2rem;
            background-color: rgba(237, 228, 213, 0.93);
            padding: 32px;
            text-align: center;
            @media only screen and (min-width: 640px) {
                width: 640px;
            }
        }

        .hero-title {
            font-weight: 600;
            font-size: clamp(2rem, 8vw, 3.5rem);
        }

        .hero-title {
            padding-block: 24px;
        }

        .hero-dek {
            text-align: center;
            background-color: rgba(237, 228, 213, 0.93);
            position: relative;
            font-weight: 200;
            line-height: 1.2;
            font-size: clamp(1.2rem, 3vw, 1.6rem);
        }
    }

    //.supp-more-by-title,
    h2.post-category {
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 600;
        padding-bottom: .3em;
        border-bottom: 4px solid #333;
        //white-space: nowrap;
    }

    /*.supp-more-by-title {
        font-size: 1.9rem;
    }

    .supp-more-by-title:before {
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        background-size: 40px 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        background-image: url(../images/plus.png);
    }*/

    @media only screen and (min-width: 640px) and (max-width: 1023px) {
        //.supp-more-by-title,
        h2.post-category {
            padding-top: .5em;
        }
    }

    /*p.subhed {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 100;
        padding-top: 16px;
        margin-top: 0;
        line-height: 1.3;
        font-size: 1.9rem;
        padding-top: .4em;
    }*/

    .archive-wrapper {
        max-width: 1400px;
    }

    article.post {
        //padding: 32px 0;
        //margin: 0;
        &:first-of-type {
            border: none;
        }

        .post-summary p {
            --exerpt-font-size: 1rem;
            --exerpt-line-height: 1.4;
            font-size: var(--exerpt-font-size);
            line-height: var(--exerpt-line-height);
        }

        @media only screen and (min-width: 640px) {
            --exerpt-font-size: 1.05rem;
            --exerpt-line-height: 1.45;
        }
    }

    /*h2.post-category {
        float: none;
    }*/

    section {
        &.subscribe, &.newsletter, &.social {
            padding-left: 72px;
            padding-right: 72px;
        }
    }

    div.subscribe.signin {
        text-align: center;
    }

    p.subscribe {
        &.prompt, &.action {
            text-align: center;
        }
    }

    input.subscribe {
        margin: 0;
    }

    fieldset.subscribe {
        display: inline-block;
        padding: 0 8px 16px 8px;
    }

    h3.supplementary.more.title .section-hed {
        font-size: 2.5rem;
    }

    p.online-only-archive.dek {
        font-size: 1.9rem;
        padding-top: .6em;
    }

    .main-content {
        overflow: auto;
        background-color: #ede4d5;
        width: auto;
        margin: 0 0 0 320px;
        padding: 32px 72px 48px;
    }

    .sharing {
        + div.main-content {
            padding-top: 0;
            padding-bottom: 32px;
        }

        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
    }

    section {
        &.subscribe, &.newsletter, &.social {
            width: 320px;
            float: left;
            padding-left: 16px;
            padding-right: 16px;
            clear: both;
            margin: 0;
        }
    }

    @media only screen and (min-width: 1400px) {
        .main-content {
            //width: 560px;
            width: 57%;
        }

        #supplementary {
            position: absolute;
            top: 0;
            right: 0;
            width: 320px;

            @media only screen and (min-width: 1400px) {
                padding: 0;
            }

            .module-multi {
                .widget-title {
                    font-size: 1.1rem;
                }
            }
        }

        /*h3.supp-more-by-title {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 600;
            padding-bottom: .3em;
            border-bottom: 4px solid #333;
        }*/

        p.subhed, h3.supplementary.more.title .section-hed {
            font-size: 1.1rem;
        }

        p.online-only-archive.dek {
            font-size: 1.1rem;
            padding-top: .4em;
        }
    }
}

/*body.issue-landing #issue-display-trigger {
    display: none;
}*/

////////////////////////////
/*body.magazine.issue-landing {
    .figure {
        background-image: none;
    }

    figure.issue.thumb {
        margin: 0 auto;
    }

    div.content-wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-content {
        text-align: center;
        padding-top: 32px;
    }

    h1.section-title {
        margin-top: 16px;
    }

    h2.post-category {
        margin-bottom: 8px;
        margin-top: 32px;
        color: #ce4f25;
        border-color: #ce4f25;
        float: none;
    }

    article {
        &.post {
            padding: 16px;
            margin-left: -16px;
            margin-right: -16px;
            float: none;
            border: medium none;

            h1, h2 {
                text-align: center;
            }

            p {
                text-align: center;

                &.post-author {
                    font-size: 1.1rem;
                }
            }

            h1 {
                font-size: 1.9rem;

                a:hover {
                    color: #ce4f25;
                }
            }

            .post-summary {
                font-size: 1.1rem;
                color: #333;
                line-height: 1.4;
                padding-bottom: 0;
                padding-top: 16px;
            }
        }

        + article {
            border-top: 1px solid rgba(0, 0, 0, 0.075);
        }
    }

    p a:hover {
        border-bottom: 1px solid #ce4f25;
    }

    ul.post-meta-tags-list {
        padding-top: 0;
        position: relative;
        right: inherit;
        text-align: center;
        top: inherit;
        width: auto;
    }

    li.post-meta-tags-item {
        display: inline-block;
    }

    section {
        &.subscribe, &.newsletter, &.social {
            width: auto;
        }
    }

    div.subscribe.category, h3.subscribe.issuetitle {
        display: none;
    }

    .subscribe div.wrapper {
        text-align: center;
    }

    section.supp {
        border-top: 72px solid rgba(0, 0, 0, 0.015);
        margin-top: 32px;
    }

    #supplementary {
        padding: 48px 16px 0;
    }

    section.articles {
        margin-top: 32px;
        padding: 0;
    }

    h3.supplementary.more.title {
        border-bottom: 4px solid #333;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 600;
        padding-bottom: 0.3em;

        .section-hed {
            border-bottom: none;
            font-size: 1.1rem;
            padding-bottom: 0px;
        }
    }

    p.online-only-archive.dek {
        font-size: 1.1rem;
    }

    section.articles p.module.article.tweetquote {
        font-size: 22px;
        padding-right: 0;
    }
}*/
