body.magazine.landing {
    @media only screen and (min-width: 640px) {
        section.issue {
            padding-inline-end: 2rem !important;
        }

    }
    @media only screen and (min-width: 1400px) {
        .module-multi {
            margin-block-start: 29px;
            margin-inline-start: 2rem;
            .widget-title {
                font-size: 1.5rem;
                &:before {
                    display: none;
                }
            }
            .flags {
                display: none;
            }
        }
        section.issue {
            padding-inline-end: 0 !important;
        }
    }
}
