.articles {
    --border-width: 1px;
    --height: 250px;
    --background-size: auto;

    @media screen and (min-width: 768px) {
        --height: 150px;
        --background-size: cover;
    }

    @media screen and (min-width: 1024px) {
        --height: 200px;
    }

    &.flavor-home-featured {
        //--height: 200px;
        //--background-size: auto;

        @media screen and (min-width: 768px) {
            --height: 300px;
            //--background-size: cover;
        }

        @media screen and (min-width: 1024px) {
            --height: 400px;
        }
    }

    article {
        --accent: var(--orange);
        --background: transparent;
        --title-color: var(--brown);
        --author-color: var(--white);
        --border-color: var(--accent);
        &:hover {
            --title-color: var(--white);
            --border-color: var(--accent);
        }

        &.type-online-only {
            --accent: var(--dark-blue);
        }

        &.format-pullquote {
            --accent: var(--black);
            --background: var(--dark-blue);
            --title-color: var(--white);
            --author-color: var(--light-blue);
            --border-color: var(--white);

            .article-link {
                display: grid;
                place-items: center;
                height: 100%;
                width: 100%;
            }
        }

        //aspect-ratio: 16/9;
        position: relative;
        width: 100%;
        height: var(--height);
        margin-inline: auto;
        //outline: 1px solid transparent;
        background-color: var(--background);
        text-align: center;
        margin-block-end: 2.3rem;

        &:hover {
            outline: 2px solid var(--border-color);
        }
    }

    figure {
        position: absolute;
        inset: 0;
        margin: 0;
        background-size: var(--background-size);
        background-repeat: no-repeat;
        background-position: center center;
        /* aspect-ratio: 16/9; */
        width: 100%;
        height: auto;
        margin-inline: auto;
    }

    .pullquote {
        color: var(--white);
        text-align: center;
        font-size: clamp(1.2rem, 1.4vw, 1.3rem);
        margin-top: -5rem;
        max-width: 80%;
        line-height: 1.4;
    }

    .meta {
        position: absolute;
        bottom: 10%;
        left: -1px;
        width: 75%;
        background-color: var(--accent);
        padding-inline: clamp(1%, 0.8vw, 4%);
        padding-block: clamp(0.5rem, 1vw, 0.6rem);
    }

    .title {
        font-size: clamp(1rem, 1.2vw, 1.1rem);
        font-weight: 700;
        text-align: left;

        &, a {
            color: var(--title-color);
        }
    }

    .author {
        margin-block-start: .5rem;
        font-size: clamp(.9rem, 0.9vw, 0.9rem);
        font-weight: normal;
        text-align: left;

        &, a {
            color: var(--author-color);
        }
    }

    .flags {
        position: absolute;
        top: 5%;
        right: 3%;
        background-color: var(--accent);
        padding-inline: clamp(0.5rem,0.4vw,0.5rem);
        padding-block: clamp(0.5rem,0.6vw,1rem);
        font-size: clamp(0.7rem,0.9vw,0.6rem);
        font-weight: 100;
        color: var(--white);
    }
}



