body {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: .1s;
  animation-delay: .2s;
  animation-timing-function: cubic-bezier(1, -.02, 1, 1);
  animation-fill-mode: forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .home {
    section,
    #supplementary {
      display: none;
      padding: 0;
      margin-top: 0;

      @media only screen and (min-width: 640px) {
        display: block;
        clear: both;
      }
    }

    section {
      &.newsletter {
        overflow: visible;
      }

      &.social {
        overflow: visible;
        border-bottom: none;
      }

      &.newsletter, &.social {
        overflow: auto;

        @media only screen and (min-width: 640px) and (max-width: 1023px) {
          border-left: 1px solid #ede4d5;
        }
      }

      &.subscribe h3.subscribe.issuetitle {
        font-size: 2.2rem;
        text-align: center;
      }
    }

    .featured .featured-online-only.flavor-online-only h3.supplementary.more.title {
      font-size: 100%;
      margin-top: 0;

      .section-hed {
        font-size: 1.1rem;
        padding-bottom: 0.3em;
        margin-bottom: 16px;
      }
    }

    a.pubinfo.wrapper {
      display: none;
    }
  }
}

@media only screen and (min-width: 640px) {

  body.home #main .featured-online-only div.module.article {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  body.home section.subscribe h3.subscribe.issuetitle, h3.home.subscribe.issuetitle, div.home.subscribe.category, p.subscribe {
    text-align: left;
  }

}

@media only screen and (min-width: 640px) and (max-width: 1023px) {

  body.home div {
    &.module-newsletter, &.module-social {
      clear: none;
    }
  }

}


