footer {
    background-color: #242424;
    color: white;
    padding-block: 48px 16px;
    padding-inline: var(--inner-padding);

    .footer-wrapper {
        max-width: var(--max-width-content);
        margin: 0 auto;
        display: grid;
        padding-inline: var(--inner-padding);

        & > section:not(:last-child) {
            padding-block: 1.5rem;
            border-bottom: 1px solid var(--light-grey);
        }
    }

    .footer-about {
        --about-columns: 1fr;
        --background-position: left center;

        @media screen and (min-width: 700px) {
            --about-columns: minmax(20%, 180px) auto;
            --background-position: left center;
        }

        display: grid;
        align-items: center;
        gap: 2rem;
        grid-template-columns: var(--about-columns);
        grid-template-rows: 80px auto;
    }

    .footer-logo {
        height: 100%;
        width: auto;
        max-width: 120px;
        text-indent: -100000px;
        overflow-x: hidden;
        background-image: url(../images/logo-trans-200-white.png);
        background-size: contain;
        background-position: var(--background-position);
        background-repeat: no-repeat;

        &:hover {
            border: none;
        }
    }

    .footer-nav {
        --footer-nav-columns: 1fr;
        --justify-items: start;
        --social-width: 100%;

        @media screen and (min-width: 600px) {
            --footer-nav-columns: 1fr 1fr;
            --justify-items: center;
            --social-width: 55%;
        }

        @media screen and (min-width: 900px) {
            --footer-nav-columns: 20% 20% 10% 10% 10% 10%;
            --justify-items: center;
            --social-width: 100%;
        }

        display: grid;
        grid-template-columns: var(--footer-nav-columns);
        gap: 2rem;
        justify-content: space-between;
        justify-items: var(--justify-items);

        nav {
            font-size: 0.9rem;
            line-height: 1.7;
        }

        .footer-nav-title {
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;
            margin-block: 0 1.5rem;
            border-bottom: 2px solid var(--white);
        }
    }

    .footer-divider {
        --display: none;
        @media screen and (min-width: 900px) {
            --display: block;
        }
        display: var(--display);
        height: 100%;
        width: 1px;
        border-right: 1px solid var(--light-grey);
        justify-self: center;
    }

    .footer-social {
        --justify-self: center;
        --grid-column: 1/-1;
        --grid-row: 3;

        @media screen and (min-width: 900px) {
            --justify-self: center;
            --grid-column: 4/span 2;
            --grid-row: 1;
            margin-block-start: 1.7rem;
        }

        justify-self: var(--justify-self);
        grid-column: var(--grid-column);
        grid-row: var(--grid-row);
        width: var(--social-width);

        .widget {
            display: block !important;
        }

        section {
            background-color: transparent !important;
            padding-block: 1rem;

            .category,
            .dek {
                display: none;
            }

            ul {
                margin-block-start: 0;

                a {
                    border-bottom: none;
                    filter: grayscale(1);
                }
            }
        }
    }

    .footer-bottom {
        text-align: center;
        margin-block-end: 2rem;

        p {
            &:first-child {
                margin-block-start: 1rem;
            }

            font-size: 0.7rem;
            font-weight: normal;
            line-height: 1.6;
        }
    }

    a {
        color: var(--white);
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            border-bottom: 1px solid;
            color: var(--light-blue);
        }
    }

    p {
        font-size: .9rem;
        font-weight: 600;
        line-height: 1.6;

        &.top {
            padding-top: 2em;
            margin-bottom: 2em;
            clear: both;

            a {
                &:hover {
                    color: #fff;
                }

                &:active {
                    color: #333;
                }
            }
        }
    }

}
