@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
    }
}

/* Disable scrolling on the body when the menu is open */
:root {
    --scrollbar-width: 0px; /* Default value, will be updated by JavaScript */
}

@media screen and (max-width: 899px) {
    body.menu-open {
        overflow: hidden;

        #site-header .sections {
            padding-inline-end: var(--scrollbar-width);
        }
    }
}

#site-header {
    --header-position: relative;
    --header-height: auto !important;
    --header-max-height: auto;
    --header-min-height: auto;
    --header-align-items: start;
    --padding-block: .5rem;
    --sections-max-height: auto;
    --column-gap: 1rem;
    --row-gap: 0.5rem;
    --logo-height: auto;
    --sections-align-items: unset;

    .header-collapsed & {
        --logo-height: 45px;
        --sections-align-items: center;
    }

    @media screen and (min-width: 900px) {
        --header-max-height: 8.7rem;
        --header-min-height: 8.7rem;
        --header-align-items: top;
        --row-gap: 0.6rem;
    }

    @media screen and (min-width: 1100px) {
        //--padding-block: 0;
        --header-position: sticky;
        --header-max-height: 10rem;
        --header-min-height: 4.5rem;
        --header-align-items: center;
        --sections-max-height: 75px;
    }

    // for testing
    //background-color: var(--dark-blue);

    @media screen and (min-width: 900px) {
        height: 11rem;
    }
    max-height: var(--header-max-height);
    min-height: var(--header-min-height);
    background-color: var(--dark-grey);
    position: var(--header-position);
    transition: var(--transition);
    z-index: 9999999;
    top: 0;
    display: flex;
    justify-content: center;
    margin-block-end: 3rem;

    .inner {
        width: 100%;
        max-width: var(--max-width-content);
        padding-inline: var(--inner-padding);
        display: flex;
        align-items: var(--header-align-items);
    }

    .sections {
        height: 100%;
        max-height: var(--sections-max-height);
        width: 100%;
        padding-block: var(--padding-block);

        display: grid;
        grid-template-areas: "logo hamburger actions";
        grid-template-columns: 110px 1fr auto;
        align-content: center;
        align-items: var(--sections-align-items);

        #nav-actions {
            grid-area: actions;
            //grid-column: 11 / -1;
        }

        .mobile-logo {
            grid-area: logo;
            //grid-column: 1 / span 2;
            display: block;
            height: var(--logo-height);
            width: 100%;
            background-image: url('../images/logo-trans-750-white.png');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }

        .menu-icon {
            grid-area: hamburger;
            //grid-column: 3 / span 8;
            display: block;
            cursor: pointer;
            width: 60px;
            height: 60px;
            background: url('../images/hamburg-white.png') no-repeat center center;
            background-size: contain;
            justify-self: end;
        }

        .menu-checkbox {
            display: none;
        }

        .overlay {
            grid-area: overlay;
            display: none;
            position: absolute;
            top: 100%; /* Start at the bottom of #site-header */
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.9); /* Example background */
            height: 100vh;
            width: 100vw;
            inset-inline-start: -1rem;
            overflow: auto;
        }

        @media screen and (max-width: 899px) {
            .menu-checkbox:checked + .overlay {
                display: grid;
                grid-template-rows: auto 1fr;
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-areas:
            ". search ."
            ". nav .";
                row-gap: 2rem;
                padding-block-start: 2rem;
            }
        }

        @media screen and (min-width: 900px) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 150px 1fr auto;
            column-gap: var(--column-gap);

            grid-template-areas: "logo overlay actions";

            .menu-icon,
            .menu-checkbox {
                display: none;
            }

            .overlay {
                all: unset;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 2fr 1fr;
                grid-template-areas: "nav search";
                column-gap: 1rem;
                align-items: center;
                position: relative;
            }
        }
    }
}
