@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
    }
}

#site-header {
    --header-position: relative;
    --header-height: auto !important;
    --header-max-height: auto;
    --header-min-height: auto;
    --header-align-items: start;
    --padding-block: .5rem;
    --sections-max-height: auto;
    --column-gap: 1rem;
    --row-gap: 0.5rem;

    @media screen and (min-width: 600px) {
        --header-max-height: 8.7rem;
        --header-min-height: 8.7rem;
        --header-align-items: top;
        --row-gap: 0.6rem;
    }

    @media screen and (min-width: 1100px) {
        --padding-block: 0;
        --header-position: sticky;
        --header-max-height: 10rem;
        --header-min-height: 4.5rem;
        --header-align-items: center;
        --sections-max-height: 75px;
    }

    height: 11rem;
    max-height: var(--header-max-height);
    min-height: var(--header-min-height);
    top: 0;
    background-color: var(--dark-grey);
    // for testing
    //background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    position: var(--header-position);
    z-index: 9999999;
    margin-block-end: 3rem;

    .inner {
        width: 100%;
        max-width: var(--max-width-content);
        padding-inline: var(--inner-padding);
        display: flex;
        align-items: var(--header-align-items);
    }

    .sections {
        display: grid;
        grid-template-rows: auto 2.5rem;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
        height: 100%;
        max-height: var(--sections-max-height);
        width: 100%;
        padding-block: var(--padding-block);

        grid-template-areas:
          "nav nav nav nav nav nav"
          "search search search search search actions";

        @media screen and (min-width: 600px) {
            grid-template-areas:
        "nav nav nav nav nav actions"
        "search search search search search search";
            row-gap: .6rem;
        }

        @media screen and (min-width: 900px) {
            display: flex;
        }
    }
}
