@import '../mixins/_ribbon';

.home main {
    .content {
        --content-columns: 1fr;
        --content-rows: auto;
        --content-template-areas: "toc" "featured" "flow";

        @media screen and (min-width: 768px) {
            --content-columns: 4fr 8fr;
            --content-rows: auto 1fr;
            --content-template-areas: "toc featured" "toc flow";
        }

        padding-inline: var(--inner-padding);
        margin-inline: auto;
        display: grid;
        row-gap: 1rem;
        column-gap: clamp(0rem, 4vw, 3rem);
        grid-template-columns: var(--content-columns);
        grid-template-rows: var(--content-rows);
        grid-template-areas: var(--content-template-areas);
    }

    .toc {
        grid-area: toc;

        .module-issue-toc:first-child {
            background-color: var(--light-grey);
            padding-inline: 2rem;
            padding-block-end: 2rem;

            .widget-title {
                color: var(--orange);
                margin-block-end: 1.6rem
            }

            .articles {
                grid-template-columns: 1fr;
            }

            article {
                --color: var(--white);

                &:hover {
                    --color: inherit;
                }

                .post-title {
                    color: var(--color);
                }
            }

            .post-author {
                color: var(--inactive-light);
            }

            .flags {
                display: none;
            }
        }
    }

    .featured {
        grid-area: featured;

        .ribbon {
            @include ribbon;
        }

        .flags {
            font-size: clamp(.7rem, 1.3vw, 1rem);
        }

        .meta {
            .title {
                font-size: clamp(1.3rem, 2.1vw, 2.1rem);
            }

            .author {
                font-size: clamp(.9rem, 1.5vw, 1.2rem);
            }
        }

        .articles {
            grid-template-columns: 1fr;
        }

        article {
            --aspect-ratio: 4/3;
            margin-block-end: 0.6rem;

            @media screen and (min-width: 768px) {
                --aspect-ratio: 16/9;
            }
        }
    }

    .flow {
        .articles {
            .module-bookstore {
                @media (min-width: 600px) {
                    grid-column: 2;
                    grid-row: 3 / span 3;
                }
            }

            @media screen and (min-width: 600px) {
                --article-columns: repeat(2, 1fr);
            }

            grid-area: grid;
            grid-template-columns: var(--article-columns);

            .widget-title {
                display: none;
            }

            article {
                --height: 100%;
            }
        }
    }
}
