.home main {
    .content {
        padding-inline: var(--inner-padding);
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 3rem;
        grid-template-areas:
            "toc"
            "featured"
            "flow";
    }

    .toc {
        grid-area: toc;
    }

    .featured {
        grid-area: featured;

        .flags {
            font-size: clamp(.7rem, 1.3vw, 1rem);
        }

        .meta {
            .title {
                font-size: clamp(1.3rem, 2.1vw, 2.1rem);
            }

            .author {
                font-size: clamp(.9rem, 1.5vw, 1.2rem);
            }
        }

        article {
            margin-block-end: 0.6rem;
        }
    }

    .flow .articles {
        grid-area: grid;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, 250px);
        grid-gap: 2rem;
        container-type: inline-size;

        //@container and (max-width: 400px) {
        //grid-template-columns: repeat(2, 1fr);
        //}
        .widget-title {
            display: none;
        }

        article {
            height: 100%;
        }
    }

    @media screen and (min-width: 600px) {
        .content {
            grid-template-columns: 4fr 8fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "toc featured"
                "toc flow";
        }

        .flow .articles {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
