.module-home-featured {
    --featured-height: 200px;
    --background-size: auto;

    @media screen and (min-width: 768px) {
        --featured-height: 300px;
        --background-size: cover;
    }

    @media screen and (min-width: 1024px) {
        --featured-height: 400px;
    }

    height: clamp(200px, 30vw, var(--featured-height));

    section {
        --accent: var(--orange);

        &.online-only {
            --accent: var(--dark-blue);
        }

        position: relative;
        height: 100%;
        width: 100%;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    figure {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        background-size: var(--background-size);
        background-repeat: no-repeat;
        background-position: center center;
    }

    figcaption {
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 50%;
        background-color: var(--accent);
        padding-inline: clamp(1rem, 5vw, 2rem);
        padding-block: clamp(.5rem, 5vw, 1rem);
    }

    .title {
        a {
            font-size: clamp(1.5rem, 5vw, 2rem);
            font-weight: 700;
            color: var(--brown);
        }
    }

    .authors {
        a {
            margin-block-start: .5rem;
            font-size: clamp(.8rem, 5vw, 1.2rem);
            font-weight: normal;
            color: var(--white);
        }
    }

    .term {
        position: absolute;
        top: 10%;
        right: 3%;

        a {
            background-color: var(--accent);
            padding-inline: clamp(0.5rem, 1vw, 1rem);
            padding-block: clamp(0.5rem, 1vw, 1rem);
            font-size: clamp(.8rem, 5vw, 1rem);
            font-weight: 400;
            color: var(--white);
        }
    }
}
