.home main {
    .content {
        padding-inline: var(--inner-padding);
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: clamp(0rem, 4vw, 3rem);
        grid-template-areas:
            "toc"
            "featured"
            "flow";
    }

    .toc {
        grid-area: toc;

        .module-issue-toc:first-child {
            background-color: var(--light-grey);
            padding-inline: 2rem;
            padding-block-end: 2rem;

            .widget-title {
                color: var(--orange);
                margin-block-end: 1.6rem
            }

            article {
                --color: var(--white);
                &:hover {
                    --color: inherit;
                }
                .post-title {
                    color: var(--color);
                }
            }

            .post-author {
                color: var(--inactive-light);
            }

            .flags {
                display: none;
            }
        }
    }

    .featured {
        grid-area: featured;

        .flags {
            font-size: clamp(.7rem, 1.3vw, 1rem);
        }

        .meta {
            .title {
                font-size: clamp(1.3rem, 2.1vw, 2.1rem);
            }

            .author {
                font-size: clamp(.9rem, 1.5vw, 1.2rem);
            }
        }

        article {
            --aspect-ratio: 16/9;
            //--background-size: auto;
            margin-block-end: 0.6rem;
        }
    }

    .flow .articles {
        grid-area: grid;

        //@container and (max-width: 400px) {
        //grid-template-columns: repeat(2, 1fr);
        //}
        .widget-title {
            display: none;
        }

        article {
            --height: 100%;
        }
    }

    @media screen and (min-width: 600px) {
        .content {
            grid-template-columns: 4fr 8fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "toc featured"
                "toc flow";
        }

        .flow .articles {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
