figure {
  &.hero {
    position: relative;
    z-index: 0;

    &, a.module.article.wrapper {
      top: 0;
      bottom: 0;
    }
  }
}

figcaption {
  &.hero {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


img.module.article.thumbnail {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
