.module-issue-toc {
    .inner {
        display: grid;
        grid-template-areas:
        "image hed"
        "image name";
        grid-template-rows: auto;
        align-items: center;
        grid-template-columns: 74px 5fr;
        column-gap: 0.5rem;
        padding-block: 1rem;
    }

    a.button,
    input[type=submit] {
        background-color: var(--dark-grey);
        margin-block: 2rem;
        display: block;
        margin-inline: auto;
        width: fit-content;

        &:hover {
            background-color: var(--inactive-dark);
        }

        &:active {
            background-color: var(--light-blue);
        }
    }

    .bug {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border-radius: 100px;
        overflow: hidden;
        grid-area: image;
        transform: translate(-45%);
    }

    .hed {
        color: var(--inactive-light);
        border-bottom: none;
        font-size: clamp(.8rem, 4vw, 1.5rem);
        font-weight: 100;
        grid-area: hed;
        align-self: end;
        @media screen and (min-width: 768px) {
            font-size: clamp(0.8rem, 1vw, 2rem);
        }
    }

    .issue-name {
        color: var(--white);
        font-weight: 600;
        line-height: .95;
        font-size: clamp(1rem, 7vw, 4rem);
        grid-area: name;
        align-self: start;
        padding-inline-end: 1rem;
        @media screen and (min-width: 768px) {
            font-size: clamp(1rem, 2vw, 2rem);
        }
    }

    .title {
        text-align: center;
        margin: 0 !important;

        .section-hed {
            font-size: clamp(1.9rem, 2.3vw, 2.3rem);
        }
    }

    .article-toc {
        article {
            &:hover {
                border-color: var(--orange);

                * {
                    color: var(--orange) !important;
                }
            }

            position: relative;
            border-top: 1px solid var(--inactive-light);
        }

        .article-link {
            padding-block: 10px;
        }

        .post-category {
            font-weight: 800;
            font-size: .75rem;
            padding-block: 12px 5px;
            color: var(--orange);
            text-align: left;
        }

        .post-title {
            font-size: 1rem;
            line-height: 1.4;
            display: inline;
            text-align: left;
            padding: 0 .3em 0 0;
            font-weight: 600;
            //white-space: nowrap;
        }

        .post-author {
            font-weight: 200;
            line-height: 1.4;
            display: inline;
            text-align: left;
            padding: 0;
            color: var(--interactive-dark);
            text-transform: none;
            letter-spacing: 0;
            font-size: 0.9rem;
            font-family: var(--adelle-sans)
        }
    }
}
