.module-bookstore {
    text-align: center;
    border: 10px solid var(--orange);
    padding: 4%;
    container-type: inline-size;

    .module-title {
        font-weight: 700;
        line-height: .95;
        font-size: clamp(1.5rem,1vw,2.2rem);
        text-decoration: underline;
        margin-block-end: 1rem;
    }

    .module-subheading {
        font-size: clamp(1rem,1vw,1.3rem);
        line-height: 1.1;
        font-weight: 200;
        margin-block-end: 2rem;
    }

    .module-dek {
        font-size: clamp(1.2rem,1.5vw,1.9rem);
        line-height: 1.1;
        font-weight: 200;
        margin-block-end: 2rem;
    }

    .books {
        --columns: 1fr;
        @media screen and (min-width: 600px) {
            --columns: repeat(2, 1fr);
        }

        @container (min-width: 400px) {
            --columns: repeat(2, 1fr);
        }

        @container (min-width: 600px) {
            grid-column: 2;
            grid-row: 3 / span 2;
        }

        display: grid;
        grid-gap: 10px;
        grid-template-columns: var(--columns);
        grid-template-rows: auto;
    }

    .book {
        text-align: center;

        a {
            height: 100%;
            width: 100%;
            display: block;
        }

        figure {
            margin-block-end: 1rem;
            position: relative;
        }

        .promo p {
            font-weight: 700;
            line-height: .95;
            font-size: clamp(1rem, 2vw, 1rem);
            font-weight: 700;
        }

        .price {
            font-size: clamp(0.8rem, 1vw, 1rem);
            line-height: 1.1;
            font-weight: 300;
            padding-top: 8px;
        }
    }

    .jump {
        text-align: center !important;
        margin-inline: 0;
    }
}
