.module-bookstore {
    .books {
        --columns: repeat(2, 1fr);

        @media screen and (min-width: 500px) {
            --columns: repeat(4, 1fr);
        }

        @media screen and (min-width: 768px) {
            --columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 900px) {
            --columns: repeat(4, 1fr);
        }

        @media screen and (min-width: 1035px) {
            --columns: repeat(2, 1fr);
        }

        display: grid;
        grid-gap: 30px;
        grid-template-columns: var(--columns);
        grid-template-rows: auto;
    }

    & > aside {
        padding: 2rem;
        text-align: center;
        border: 10px solid var(--orange);
        container-type: inline-size;
        background-color: var(--tan);
    }

    .module-title {
        font-weight: 700;
        line-height: .95;
        font-size: clamp(1.5rem, 1vw, 2.2rem);
        text-decoration: underline;
        margin-block-end: 1rem;
    }

    .module-subheading {
        font-size: clamp(1rem, 1vw, 1.3rem);
        line-height: 1.1;
        font-weight: 200;
        margin-block-end: 2rem;
    }

    .module-dek {
        font-size: clamp(1.2rem, 1.5vw, 1.9rem);
        line-height: 1.1;
        font-weight: 200;
        margin-block-end: 2rem;
    }

    .book {
        text-align: center;

        a {
            height: 100%;
            width: 100%;
            display: block;
        }

        figure {
            margin-block-end: 1rem;
            position: relative;
        }

        .promo p {
            font-weight: 700;
            line-height: .95;
            font-size: clamp(1rem, 2vw, 1rem);
            font-weight: 700;
        }

        .price {
            font-size: clamp(0.8rem, 1vw, 1rem);
            line-height: 1.1;
            font-weight: 300;
            padding-top: 8px;
        }
    }

    .jump {
        text-align: center !important;
        margin-inline: 0;
        //padding-top: clamp(2rem, 6vw, 4rem);
    }
}
