div {
  &.main, &.supp {
    position: relative;
  }

  &.hero {
    &.category, &.dek {
      position: relative;
      z-index: 10;
    }
  }

  &.hero-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .supp {
    padding: 32px 16px;
  }
}

section {
  &.subscribe, &.offline, &.supp {
    position: relative;
    z-index: 10;
    padding: 32px 16px;
  }

  &.current-issue, &.newsletter, &.social {
    padding: 32px 16px;
  }

  &.featured {
    &.books, &.pm, &.magazine {
      padding: 32px 16px;
    }
  }

  &.header-search, &.header-signin {
    display: none;
  }

  &.active {
    &.header-search, &.header-signin {
      display: block;
    }
  }

  .magazine-archive {
    ol.meta {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

#header-main {
  position: relative;
  z-index: 0;

  & div.header-signin.closebox {
    text-indent: -10000px;
    overflow-x: hidden;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  & section.header-search, & section.header-signin {
    display: none;
  }

  & section.active.header-search, & section.active.header-signin {
    display: block;
  }
}

footer {
  position: relative;
}

.flags {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dev.just-to-get-the-color-picker {
  color: #1cecfb;
}

.featured-online-only {
  padding: 32px 16px;
}

h2 {
  &.hero.title {
    position: relative;
    z-index: 10;
  }
}

h3 {
  &.subscribe.roadblock:before {
    text-indent: -10000px;
    overflow-x: hidden;
  }
}

li {
  &.issue.meta.pubinfo.issuetitle {
    display: none;

    @media only screen and (min-width: 640px) {
      display: block;
    }
  }
}

a {
  &.jump {
    &:focus, .button:focus, .jump-to-page:focus, input.submit:focus, .home div.current-issue &:focus {
      background-color: #242424;
    }

    &:hover, .button:hover, .jump-to-page:hover, input.submit:hover, .home div.current-issue &:hover {
      background-color: #ce4f25;
    }

    &:active, .button:active, .jump-to-page:active, input.submit:active, .home div.current-issue &:active {
      background-color: #1cecfb;
      color: #333;
    }
  }

  &.pubinfo.wrapper:after {
    text-indent: -10000px;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }

  &.module.article.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

p {
  &.post-category {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.issue.meta.button.close {
    text-indent: -10000px;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

figure {
  &.hero {
    position: relative;
    z-index: 0;

    &, a.module.article.wrapper {
      top: 0;
      bottom: 0;
    }
  }
}

figcaption {
  &.hero {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

ul {
  &.module.article.meta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

ol {
  &.magazine-archive.issue.meta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
