section {
  &.subscribe,
  &.offline,
  &.supp,
  &.current-issue,
  &.newsletter,
  &.social,
  &.featured.books,
  &.featured.pm,
  &.featured.magazine,
  &.header-search,
  &.active {
    position: relative;
    //z-index: 10;
    padding: 32px 16px;
  }

  &.current-issue,
  &.featured.books,
  &.featured.pm {
    padding: 32px 16px;

    @media only screen and (min-width: 1400px) {
      padding: 48px;
    }
  }

  &.magazine-archive {
    max-width: var(--max-width-content);
    margin-inline: auto;
    text-align: center;

    ol.meta {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &.magazine-archive div.issue:hover {
    border-color: #ce4f25;
  }

  &.current-issue,
  &.featured.books,
  &.featured.pm {
    clear: left;
    z-index: 100;
  }

  &.issue.meta.postinfo article.post {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 0;
  }

  &.subscribe,
  &.current-issue {
    width: 100%;
  }
}
