section {
  &.subscribe, &.offline, &.supp {
    position: relative;
    z-index: 10;
    padding: 32px 16px;
  }

  &.current-issue, &.newsletter, &.social {
    padding: 32px 16px;
  }

  &.featured {
    &.books, &.pm, &.magazine {
      padding: 32px 16px;
    }
  }

  &.header-search, &.header-signin {
    display: none;
  }

  &.active {
    &.header-search, &.header-signin {
      display: block;
    }
  }

  .magazine-archive {
    ol.meta {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}


section {
  &.magazine-archive div.issue:hover {
    border-color: #ce4f25;
  }

  &.current-issue {
    clear: left;
    z-index: 100;
  }

  &.featured {
    &.books, &.pm {
      clear: left;
      z-index: 100;
    }
  }
}

section {
  &.issue.meta.postinfo article.post {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 0;
  }

  &.subscribe, &.current-issue {
    width: 100%;
  }
}
